# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
env/
ENV/
.venv/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Django
# -----------------------------
db.sqlite3
media/
staticfiles/

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Logs
# -----------------------------
*.log
runserver.out.txt
runserver.err.txt

# -----------------------------
# Cache
# -----------------------------
.cache/
huggingface/
.ipynb_checkpoints/

# -----------------------------
# Build
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# Coverage
# -----------------------------
.coverage
htmlcov/

# -----------------------------
# Temp Uploads
# -----------------------------
temp_uploads/

# -----------------------------
# OS
# -----------------------------
.DS_Store
Thumbs.db